[submodule "android/unidadesrfb"]
	path = android/unidadesrfb
	url = https://git.serpro/android/unidadesrfb.git
[submodule "android/rfb"]
	path = android/rfb
	url = https://git.serpro/android/rfb.git
[submodule "android/searchview"]
	path = android/searchview
	url = https://git.serpro/android-library/searchview.git
[submodule "android/swipetodismissundolist"]
	path = android/swipetodismissundolist
	url = https://git.serpro/android-library/swipetodismissundolist.git
