[submodule "android/unidadesrfb"]
	path = android/unidadesrfb
	url = https://gitcorporativo.serpro/apprfb-11445/android/unidadesrfb.git
[submodule "android/rfb"]
	path = android/rfb
	url = https://gitcorporativo.serpro/apprfb-11445/android/rfb
[submodule "android/searchview"]
	path = android/searchview
	url = https://gitcorporativo.serpro/apprfb-11445/android/searchview.git
[submodule "android/swipetodismissundolist"]
	path = android/swipetodismissundolist
	url = https://gitcorporativo.serpro/apprfb-11445/android/swipetodismissundolist.git
